<h1 class="title">Youtube Data Analytics </h1>

<div class="chart-container">
   <h2> Today : {{date| date: "y.MM.dd" }}</h2>
  <table class="myTable" border="1" >
      <tr>
          <td class="chart-container">                     <app-pie-chart></app-pie-chart>
              </td>
          <td  class="chart-container"> <app-line-chart></app-line-chart></td>
          </tr>
          <tr>
              <td  class="chart-container2" [colSpan]="100">
                  <app-bar-chart></app-bar-chart>
              </td>
          </tr>

  </table>
  <div class="row">
  <div class="col">
     
  </div>
  <div class="col-6">
     
  </div>
  <div class="col-6">
   
  </div>
</div>
</div>
